In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("../../data/battery_capacity.csv")
df

   cycle  capacity
0      1      2.50
1      2      2.47
2      3      2.44
3      4      2.40
4      5      2.35

In [18]:
df.head()

   cycle  capacity
0      1      2.50
1      2      2.47
2      3      2.44
3      4      2.40
4      5      2.35

In [19]:
df.tail()

   cycle  capacity
0      1      2.50
1      2      2.47
2      3      2.44
3      4      2.40
4      5      2.35

In [20]:
df.shape

(5, 2)

In [21]:
df.columns

Index(['cycle', 'capacity'], dtype='object')

In [22]:
df.head()
df.tail()
df.shape
df.columns

Index(['cycle', 'capacity'], dtype='object')

In [23]:
df["capacity"]

0    2.50
1    2.47
2    2.44
3    2.40
4    2.35
Name: capacity, dtype: float64

In [24]:
capacities = df["capacity"].values
capacities

array([2.5 , 2.47, 2.44, 2.4 , 2.35])

In [25]:
df[["cycle", "capacity"]]

   cycle  capacity
0      1      2.50
1      2      2.47
2      3      2.44
3      4      2.40
4      5      2.35

In [26]:
df["capacity"].mean()

np.float64(2.432)

In [27]:
df["capacity"].min()

2.35

In [29]:
initial_capacity = df["capacity"].iloc[0]
df["capacity_fade_percent"] = ((initial_capacity - df["capacity"])/ initial_capacity * 100)
df

   cycle  capacity  capacity_fade_percent
0      1      2.50                    0.0
1      2      2.47                    1.2
2      3      2.44                    2.4
3      4      2.40                    4.0
4      5      2.35                    6.0

In [30]:
df[df["capacity_fade_percent"]>5]

   cycle  capacity  capacity_fade_percent
4      5      2.35                    6.0

In [31]:
df.to_csv("../../data/battery_capacity_with_fade.csv", index=False)