it imports the panda

In [2]:
import pandas as pd

pd.read_csv you are telling it to read csv similarly if excel pd.read_excel you are telling it to read excel

In [3]:
df = pd.read_csv("../../data/battery_capacity_dirty.csv")
df

   cycle  capacity  temperature
0      1      2.50         25.0
1      2      2.47         25.0
2      3       NaN         26.0
3      4      2.40         26.0
4      4      2.40         26.0
5      5      2.35          NaN
6      6      2.30         27.0

df.info() you are telling it that it has 7 enrtries ranging from 0 to 6, 3 columns, also there is no non null count that means all of them are continous entry no missing entry

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   cycle        7 non-null      int64
 1   capacity     6 non-null      float64
 2   temperature  6 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 300.0 bytes

In [6]:
df.describe()

          cycle  capacity  temperature
count  7.000000  6.000000     6.000000
mean   3.571429  2.403333    25.833333
std    1.718249  0.073937     0.752773
min    1.000000  2.300000    25.000000
25%    2.500000  2.362500    25.250000
50%    4.000000  2.400000    26.000000
75%    4.500000  2.452500    26.000000
max    6.000000  2.500000    27.000000

df.isna() is telling you that at which place you have NaN is written then we will fill the data by using df.fillna() 
for example if you wanna write bevkoof in place of NaN then just write df.fillna(bevkoof) or any numeric value according to your choice

In [7]:
df.isna()

   cycle  capacity  temperature
0  False     False        False
1  False     False        False
2  False      True        False
3  False     False        False
4  False     False        False
5  False     False         True
6  False     False        False

In [8]:
df.isna().sum()

cycle          0
capacity       1
temperature    1
dtype: int64

if you notice than df.dropna() is most important - it is by default it is removing df.dropna(axis= 'index', how='any') in the back ground but in the background if we want some other missing thing then we have to change how = or if you wanto remove like below example then you can use subset and let it know that you want to remove NaN only in one coulmn than use subset.

ok now lets say if your data has missing or Nan written yaa esa kuch b mannual ki value ni h type likha ho to we can replace those words like df.replace('Na', np,nan, inplace=True)
df.replace('missing value', np.nan, inplace=True) this will write all of tehm as NaN then you can remove them by using df.dropna() or may be by using df.dropna(subset=["that column name"]) if you want to remove the row only if NaN is written in that particular column

In [9]:
df_clean = df.dropna(subset=["capacity"])
df_clean

   cycle  capacity  temperature
0      1      2.50         25.0
1      2      2.47         25.0
3      4      2.40         26.0
4      4      2.40         26.0
5      5      2.35          NaN
6      6      2.30         27.0

In [10]:
df_clean.duplicated()

0    False
1    False
3    False
4     True
5    False
6    False
dtype: bool

In [12]:
df_clean[df_clean.duplicated()]
df_clean = df_clean.drop_duplicates()
df_clean

   cycle  capacity  temperature
0      1      2.50         25.0
1      2      2.47         25.0
3      4      2.40         26.0
5      5      2.35          NaN
6      6      2.30         27.0

In [13]:
df_clean.isna().sum()

cycle          0
capacity       0
temperature    1
dtype: int64

In [16]:
mean_temp = df_clean["temperature"].mean()
mean_temp

np.float64(25.75)

In [17]:
df_clean["temperature"] = df_clean["temperature"].fillna(mean_temp)
df_clean

/var/folders/z7/3jqbff795ld6bxk0lyv3ft2w0000gn/T/ipykernel_47645/112448058.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["temperature"] = df_clean["temperature"].fillna(mean_temp)

   cycle  capacity  temperature
0      1      2.50        25.00
1      2      2.47        25.00
3      4      2.40        26.00
5      5      2.35        25.75
6      6      2.30        27.00

In [18]:
df_clean[df_clean["capacity"] <= 0]

Empty DataFrame
Columns: [cycle, capacity, temperature]
Index: []

In [19]:
df_clean.to_csv("../../data/battery_capacity_clean.csv", index=False)